<div class="list">
	<h1 class="list_name"> To Do List </h1>
	<% @events.each do |event| %>
	  <p class="item"><%= event.item %><p>
	<% end %>
</div>

<%= form_for @event do |f| %>
  <%= f.text_field :item %>
  <%= f.submit "Add" %>
<% end %>