<div class="list">
	<h1 class="list_name"> To Do List </h1>
	<ul>
		<% @events.each do |event| %>
		  <li class="item"><p class="itemText"><%= event.item %></p></li>
		<% end %>
	<ul>
</div>

<%= form_for @event do |f| %>
  <%= f.text_field :item %>
  <%= f.submit "Add" %>
<% end %>